
.header{
 background-color: #40375c;
 padding: 15px;
 box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
 margin-left: 40px;
    margin-right: 40px;
    border: 0.5px solid rgb(129, 129, 129);
}
.header ul{
    display: flex;
justify-content: center;
flex-direction: row;
    list-style: none;
    gap: 1em;
     
}
.header ul li{
    
    border-radius: 5px;
    color: white;
     
    margin-right: 0.5em;
}
.header ul li :hover{
     
    color: black;
     background-color: rebeccapurple;
   
}