.heading{
    padding:  1em 0 1em 0;
    font-size:4em;
    font-style:oblique;
    display: flex;
    justify-content: center;
    background-color:#40375c;
    margin-left: 40px;
    margin-right: 40px;
    border: 0.5px solid rgb(129, 129, 129);
}
.heading h1{
    font-size: 28px;
}
.section-content{
    padding:  1em 0 1em 0;
 background-color: #5a4f7c;

    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
}
