<div class="heading">
<h1>Who are we </h1>
</div>
<div class="section-content">
<p>There is no we in this project it's being made by a single person trying angular</p>   
</div>
<div class="heading">
<h1>What we do </h1>
</div>
<div class="section-content">
<p>The app's objective is to create a forum system for user interactions</p>   
</div>
<div class="heading">
    <h1>What is the forum about? </h1>
</div>
<div class="section-content">
    <p>Whatever the user wants it to be for, create categories and threads</p>   
</div>
 
